.contact-page {
  @extend %container-size;
  flex-flow: column;
  > p {
    @extend %flexbox;
    width: 100%;
    height: 15vh;
    font-size: 60px;
    color: #eece1a;
  }
  div {
    display: flex;
    flex-flow: row;
    .contact-container {
      width: 50%;
      height: 100%;
      .contacts {
        @extend %flexbox;
        flex-flow: column;
        margin-top: 10vh;
        p {
          font-size: 39.5px;
        }
        a {
          @extend %icon-decoration;
          font-size: 80px;
          &:hover {
            @extend %swing-animation;
          }
        }
      }
      .media {
        @extend %flexbox;
        justify-content: space-between;
        margin-top: 8vh;
        width: 50%;
      }
      form {
        @extend %flexbox;
        flex-flow: column;
        margin-top: 4vh;
        input,
        textarea {
          margin: 1px;
          width: 90%;
          height: 7vh;
          font-size: 20px;
          margin-top: 3vh;
          border-radius: 20px;
          background: transparent;
          outline: none;
          color: #fff;
          border: 2px solid #3498db;
          padding: 10px;
          &::placeholder {
            color: #ccc;
            margin-left: 10px;
          }
        }
        textarea {
          height: 25vh;
          border-radius: 10px;
          resize: none;
          overflow: auto;
        }
        button {
          margin-top: 5vh;
        }
      }
    }
  }
}

@include mobS {
  .contact-page {
    p {
      margin-top: 3vh;
    }
    div {
      flex-direction: column;
      .contact-container {
        width: 100%;
        .contacts {
          margin-top: 0.5vh;
          p {
            font-size: 22px;
          }
          a {
            font-size: 40px;
          }
        }
        .media {
          margin: 5vh;
        }
        form {
          input,
          textarea {
            font-size: 15pt;
            height: 15vh;
          }
          textarea {
            height: 40vh;
          }
        }
      }
    }
  }
}

@include mobM {
  .contact-page {
    p {
      margin-top: 3vh;
    }
    div {
      flex-direction: column;
      .contact-container {
        width: 100%;
        .contacts {
          margin-top: 0.5vh;
          p {
            font-size: 25px;
          }
          a {
            font-size: 40px;
          }
        }
        .media {
          margin: 5vh;
        }
        form {
          input,
          textarea {
            font-size: 15pt;
            height: 15vh;
          }
          textarea {
            height: 40vh;
          }
        }
      }
    }
  }
}

@include mobL {
  .contact-page {
    margin-top: 8vh;
    p {
      font-size: 80px;
    }
    div {
      flex-direction: column;
      .contact-container {
        width: 100%;
        .contacts {
          margin: 5vh 0;
          p {
            font-size: 32.5px;
          }
          a {
            font-size: 60px;
          }
        }
        form {
          input,
          textarea {
            margin-top: 5vh;
            height: 14vh;
            font-size: 16pt;
          }
          textarea {
            height: 50vh;
          }
        }
      }
    }
  }
}

@include tablet {
  .contact-page {
    p {
      margin-top: 3vh;
      font-size: 100px;
    }
    div {
      flex-direction: column;
      .contact-container {
        width: 100%;
        .contacts {
          margin-top: 0;
          p {
            font-size: 50px;
          }
          a {
            font-size: 80px;
          }
        }
        form {
          input {
            margin-top: 5vh;
            height: 12vh;
          }
          textarea {
            height: 40vh;
          }
        }
      }
    }
  }
  footer {
    position: static;
  }
}
