.card-container {
    border: 1px solid #fff;
    width: 280px;
    height: 320px;
    border-radius: 30px;
    .card-box {
        display: flex;
        align-items: center;
        flex-flow: column;
        height: 100%;
        .card-img {
            height: 45%;
            img.card-img-top {
                height: 100%;    
            }
        }
       
        h4 {
            height: 15%;
            color: #eece1a;
        }
        p {
            font-size: 17px;
            margin: 0px 5px 0px 5px;
            height: 100%;
        }
        ul {
            @extend %flexbox;
            width: 50%;
            justify-content: space-between;
            li {
                list-style: none;
                a {
                    @extend %icon-decoration;
                    font-size: 40px;
                    &:hover {
                        color: #eece1a;
                    }
                }
            }
        }
    }
}