@import './utils/placeholders';
@import './utils/media_queries';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    color: #fff;
}

body {
    @extend %background;
    @extend %full-size;
}

@import './layout/navbar';
@import './layout/button';
@import './layout/footer';
@import './layout/card';

@import './pages/home';
@import './pages/about';
@import './pages/knowledge';
@import './pages/project';
@import './pages/contact';