@import './utils/placeholders';
@import './utils/media_queries';
@import './utils/keyframes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @extend %background;
    font-family: Roboto, sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
}

@import './layout/navbar';
@import './layout/button';
@import './layout/footer';
@import './layout/card';

@import './pages/home';
@import './pages/about';
@import './pages/project';
@import './pages/contact';