@charset 'utf-8';
%background {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

%full-size {
    height: 100%;
    width: 100%;
}

%flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

%container-size {
    @extend %full-size;
    display: flex;
    padding: 1px;
}

%icon-decoration {
    color: #fff;
    &:hover {
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
}